<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TalkRoom1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0263379B1EB1E188004F04E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026337AF1EB1E189004F04E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026337BA1EB1E189004F04E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
